<!-- API Response Modal -->
<div class="modal fade" id="api-response-<%= last_run_step.id %>" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">API Response Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <strong>Status:</strong>
          <%= last_run_step.api_response_report.status %>
        </div>
        <% if last_run_step.api_response_report.response_code %>
          <div class="mb-3">
            <strong>Response Code:</strong>
            <%= last_run_step.api_response_report.response_code %>
          </div>
        <% end %>
        <% if last_run_step.api_response_report.response_headers %>
          <div class="mb-3">
            <strong>Headers:</strong>
            <pre class="bg-light p-2 mt-1"><code><%= format_json(last_run_step.api_response_report.response_headers) %></code></pre>
          </div>
        <% end %>
        <% if last_run_step.api_response_report.response_body %>
          <div class="mb-3">
            <strong>Body:</strong>
            <pre class="bg-light p-2 mt-1"><code><%= format_json(last_run_step.api_response_report.response_body) %></code></pre>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
