<%= content_for(:title) { 'Schedules' } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title">Schedules</h1>

  <div class="header__actions">
    <%= link_to new_schedule_path(pipeline_id: @pipeline.id), class: 'btn btn-primary' do %>
      <i class="bi bi-plus" aria-hidden="true"></i> Add new schedule
    <% end %>
  </div>

  <div class='clearfix'></div>

  <div class='mt-4'></div>
  <ul class="nav nav-tabs">
    <li class='nav-item'>
      <%= link_to 'Pipeline', pipeline_path(@pipeline), class: 'nav-link' %>
    </li>

    <li class='nav-item'>
      <%= link_to "Schedules (#{@pipeline.schedules.count})", pipeline_schedules_path(@pipeline),
                  class: 'nav-link active' %>
    </li>

    <li class='nav-item'>
      <%= link_to 'Jobs', pipeline_pipeline_jobs_path(@pipeline), class: 'nav-link' %>
    </li>

    <li class='nav-item'>
      <%= link_to "Automation Templates (#{@pipeline.automation_templates.count})",
                  pipeline_automation_templates_path(@pipeline), class: 'nav-link' %>
    </li>
  </ul>
<% end %>

<% @schedules.each do |schedule| %>
  <div class="card mb-3">
    <div class="card-body">
      <div class='float-start'>
        <p class='m-0'>Runs <%= schedule.frequency %> at <%= schedule.time %></p>

        <% if schedule.pipeline_jobs.any? %>
          <p class='m-0'>Last duration:
            <%= ActiveSupport::Duration.build(schedule.pipeline_jobs.last.harvest_reports.sum(&:duration_seconds)).inspect %>
          </p>
        <% end %>
      </div>

      <div class='float-end'>
        <ul class='list-inline'>
          <li class='list-inline-item'>
            <%= link_to edit_schedule_path(schedule), class: 'btn btn-link p-0' do %>
              Edit <i class="bi bi-pencil-square" aria-hidden="true"></i>
            <% end %>
          </li>

          <li class='list-inline-item'>
            <%= button_to schedule_path(schedule), method: :delete, class: 'btn btn-link text-danger p-0' do %>
              Delete <i class="bi bi-trash" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
