<%= vertical_form_with model: [@schedule], id: 'js-schedule-form' do |form| %>

  <div class='card'>
    <div class='card-body'>

      <h4 class='mb-4'>Frequency Settings</h4>

      <%= form.hidden_field :pipeline_id, id: 'js-pipeline-id', value: @pipeline&.id %>
      <%= form.hidden_field :automation_template_id, id: 'js-automation-template-id' %>
      <%= form.hidden_field :existing_blocks_to_run, id: 'js-existing-blocks-to-run', multiple: true,
                                                     value: @schedule.harvest_definitions_to_run %>

      <%= form.label :schedulable_item_id, 'Pipeline or Automation', class: 'form-label' %>

      <%= form.select :schedulable_id, grouped_options_for_select(@schedulable_items),
                      { prompt: 'Please select a process to schedule...' }, { class: 'form-select mb-3', id: 'js-schedulable-select' } %>

      <%= form.label :frequency, 'Schedule frequency', class: 'form-label' %>

      <%= form.select :frequency, options_for_select(
            Schedule.frequencies.map do |key, _value|
              [key.humanize, key]
            end, @schedule.frequency
          ), {}, class: 'form-select mb-3', id: 'js-schedule-frequency-select' %>

      <%= form.label '', 'Run daily at', class: 'form-label', id: 'js-schedule-run-label' %>

      <ul class='p-0'>
        <li class='d-inline-block me-2'><%= form.text_field :time, class: 'form-control',
                                                                   disable_errors_display: true, placeholder: '1:30 PM' %></li>

        <span id='js-schedule-weekly' class="d-none">
          <li class='d-inline-block me-2'>on</li>

          <li class='d-inline-block'>
            <%= form.select :day, options_for_select(
                  Schedule.days.map do |key, _value|
                    [key.humanize, key]
                  end,
                  @schedule.day
                ), {}, class: 'form-select' %>
          </li>
        </span>

        <span id='js-schedule-monthly' class="d-none">
          <li class='d-inline-block ms-2'>on the</li>

          <li class='d-inline-block mx-2'><%= form.select :day_of_the_month, options_for_select(
                                                (1..31).map do |day|
                                                  [day.ordinalize, day]
                                                end,
                                                @schedule.day_of_the_month
                                              ), {}, class: 'form-select' %></li>
        </span>

        <span id='js-schedule-bi-monthly' class="d-none">
          <li class='d-inline-block ms-2'>on the</li>
          <li class='d-inline-block mx-2'><%= form.select :bi_monthly_day_one, options_for_select(
                                                (1..31).map do |day|
                                                  [day.ordinalize, day]
                                                end,
                                                @schedule.bi_monthly_day_one
                                              ), {}, class: 'form-select' %></li>

          <li class='d-inline-block ms-2'>and</li>

          <li class='d-inline-block mx-2'><%= form.select :bi_monthly_day_two, options_for_select(
                                                (1..31).map do |day|
                                                  [day.ordinalize, day]
                                                end,
                                                @schedule.bi_monthly_day_two
                                              ), {}, class: 'form-select' %></li>
        </span>
      </ul>

      <% if @schedule.errors.include?('time') %>
        <div class='row'>
          <div class='col-3'></div>

          <div class='col-9'>
            <div class="alert alert-danger" role="alert">
              Please enter a time
            </div>
          </div>
        </div>
      <% end %>

      <br>

      <div id="js-pipeline-settings" class="d-none">
        <h4>Process Settings</h4>

        <div id='js-blocks-to-run' class='mb-3'>
        </div>

        <%= form.label :destination_id, 'Destination', class: 'form-label' %>

        <%= form.select :destination_id,
                        options_from_collection_for_select(
                          @destinations, 'id', 'name', @schedule.destination&.id
                        ), {},
                        class: 'form-select mb-3' %>

            <%= form.label :delete_previous_records, class: 'form-label' do %>
              Delete Previous Records

              <span
                data-bs-toggle="tooltip"
                data-bs-title="Selecting this option will delete all previous records associated with this Source ID"><i class="bi bi-question-circle" aria-label="helper text"></i>
              </span>
            <% end %>

          <%= form.select :delete_previous_records,
                          options_for_select([['Yes', true], ['No', false]], @schedule.delete_previous_records),
                          {},
                          class: 'form-select mb-3' %>
        </div>
      </div>

    </div>
  </div>

<% end %>
