<%= content_for(:title) { 'Schedules' } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title">Schedules</h1>

  <div class="header__actions">
    <%= link_to new_schedule_path, class: 'btn btn-primary' do %>
      <i class="bi bi-plus" aria-hidden="true"></i> Add new schedule
    <% end %>
  </div>

  <div class="clearfix"></div>
<% end %>

<% (Time.zone.now.to_date...30.days.from_now.to_date).each do |date| %>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title"><%= date.strftime('%A %B %-d %Y') %></h2>
      <h3 class="card-subtitle">
        0 scheduled processes
      </h3>
    </div>
  </div>
<% end %>
