<% pipeline_id = @pipeline&.id %>
<% extraction_id = @extraction_definition&.id %>
<% transformation_id = @transformation_definition&.id %>
<% harvest_definition_id = @harvest_definition&.id %>
<% destination_id = @destination&.id %>
<% automation_template_id = @automation_template&.id %>
<% automation_id = @automation&.id %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= breadcrumb_item(text: 'Home', path: root_path) %>

    <%= breadcrumb_item(
          text: 'Pipelines',
          path: pipelines_path,
          active: current_page?(pipelines_path),
          display: request.path.include?(pipelines_path)
        ) %>

    <%= breadcrumb_item(
          text: @pipeline&.name_in_database,
          path: begin
            pipeline_path(pipeline_id)
          rescue StandardError
            nil
          end,
          active: begin
            current_page?(pipeline_path(pipeline_id))
          rescue StandardError
            false
          end,
          display: request.path.match?(%r{^/pipelines/\d+})
        ) %>

    <%= breadcrumb_item(
          text: 'Schedules',
          path: begin
            pipeline_schedules_path(pipeline_id)
          rescue StandardError
            nil
          end,
          active: begin
            current_page?(pipeline_schedules_path(pipeline_id))
          rescue StandardError
            false
          end,
          display: request.path.match?(%r{^/pipelines/\d+/schedules})
        ) %>

    <%= breadcrumb_item(
          text: 'Jobs',
          path: begin
            pipeline_pipeline_jobs_path(pipeline_id)
          rescue StandardError
            nil
          end,
          active: begin
            current_page?(pipeline_pipeline_jobs_path(pipeline_id))
          rescue StandardError
            false
          end,
          display: request.path.match?(%r{^/pipelines/\d+/pipeline_jobs})
        ) %>

    <%= breadcrumb_item(
          text: 'Destinations',
          path: destinations_path,
          active: current_page?(destinations_path),
          display: request.path.include?(destinations_path)
        ) %>

    <%= breadcrumb_item(
          text: @destination&.name_in_database,
          path: begin
            destination_path(destination_id)
          rescue StandardError
            nil
          end,
          active: begin
            current_page?(destination_path(destination_id))
          rescue StandardError
            false
          end,
          display: request.path.match?(%r{^/destinations/\d+})
        ) %>

    <%= breadcrumb_item(
          text: @schedule&.name_in_database,
          path: '',
          active: current_page(:schedules, %w[show]),
          display: request.path.match?(%r{^/pipelines/\d+/schedules/\d+})
        ) %>

    <%= breadcrumb_item(
          text: @harvest_job&.name_in_database,
          path: '',
          active: current_page(:harvest_jobs, %w[show]),
          display: request.path.match?(%r{/harvest_jobs/\d+})
        ) %>

    <%= breadcrumb_item(
          text: 'Edit',
          active: action_name.in?(%w[edit update]),
          display: action_name.in?(%w[edit update])
        ) %>

    <%= breadcrumb_item(
          text: 'New',
          active: action_name.in?(%w[new create]),
          display: action_name.in?(%w[new create])
        ) %>

    <%= breadcrumb_item(
          text: 'Automation Templates',
          path: automation_templates_path,
          active: current_page?(automation_templates_path),
          display: request.path.include?(automation_templates_path) || request.path.match?(%r{^/automations})
        ) %>

    <%= breadcrumb_item(
          text: @automation_template&.name,
          path: begin
            automation_template_path(automation_template_id)
          rescue StandardError
            nil
          end,
          active: begin
            current_page?(automation_template_path(automation_template_id))
          rescue StandardError
            false
          end,
          display: request.path.match?(%r{^/automation_templates/\d+})
        ) %>

    <%= breadcrumb_item(
          text: 'Automations',
          active: request.path.match?(%r{^/automations}) && request.path.exclude?('/automation_templates'),
          display: request.path.match?(%r{^/automations}) && request.path.exclude?('/automation_templates')
        ) %>

    <%= breadcrumb_item(
          text: @automation&.name,
          path: begin
            automation_path(automation_id)
          rescue StandardError
            nil
          end,
          active: begin
            current_page?(automation_path(automation_id))
          rescue StandardError
            false
          end,
          display: request.path.match?(%r{^/automations/\d+})
        ) %>

    <%= breadcrumb_item(
          text: 'Schemas',
          path: schemas_path,
          active: current_page?(schemas_path),
          display: request.path.include?(schemas_path)
        ) %>

    <%= breadcrumb_item(
          text: @schema&.name_in_database,
          path: begin
            schema_path(schema_id)
          rescue StandardError
            nil
          end,
          active: begin
            current_page?(schema_path(schema_id))
          rescue StandardError
            false
          end,
          display: request.path.match?(%r{^/schemas/\d+})
        ) %>

  </ol>
</nav>
