<nav class="<%= class_names('navbar navbar-expand-md', {
                              'navbar-dark bg-dark' => %w[production test].include?(Rails.env),
                              'navbar-light bg-light border-bottom border-2' => %w[production test].exclude?(Rails.env)
                            }) %>">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <img src="<%= "/logo-#{Rails.env}.svg" %>" alt="Supplejack" height="20">
    <% end %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-nav"
      aria-controls="navbar-nav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% pipelines_classes = class_names('nav-link', active: request.path.include?('pipelines')) %>
    <% destinations_classes = class_names('nav-link', active: request.path.include?('destinations')) %>
    <% schemas_classes = class_names('nav-link', active: request.path.include?('schemas')) %>
    <% display_automations = request.path.include?('automations') && request.path.exclude?('automation_templates') %>
    <% automations_classes = class_names('nav-link',
                                         active: display_automations) %>
    <% automation_templates_classes = class_names('nav-link', active: request.path.include?('automation_templates')) %>
    <% schedules_classes = class_names('nav-link', active: request.path == '/schedules') %>
    <% jobs_classes = class_names('nav-link', active: request.path == '/jobs') %>

    <div class="collapse navbar-collapse justify-content-between" id="navbar-nav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Pipelines', pipelines_path, class: pipelines_classes %>
          </li>
          <li class="nav-item">
            <%= link_to 'Destinations', destinations_path, class: destinations_classes %>
          </li>
          <li class="nav-item">
            <%= link_to 'Schemas', schemas_path, class: schemas_classes %>
          </li>
          <li class="nav-item">
            <%= link_to 'Automation Templates', automation_templates_path, class: automation_templates_classes %>
          </li>
          <li class="nav-item">
            <%= link_to 'Schedules', schedules_path, class: schedules_classes %>
          </li>
          <li class="nav-item">
            <%= link_to 'Jobs', jobs_path, class: jobs_classes %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle" aria-hidden="true"></i> <%= current_user.username %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to 'Edit profile', edit_profile_path, class: 'dropdown-item' %></li>
              <% if current_user.admin? %>
                <li><%= link_to 'Manage users', users_path, class: 'dropdown-item' %></li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li>
                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logout-modal">
                  Logout
                </button>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path,
                        class: { 'nav-link': true, active: current_page?(new_user_session_path) } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%# Logout Modal %>
<% if user_signed_in? %>
  <div
    class="modal fade"
    id="logout-modal"
    tabindex="-1"
    aria-labelledby="Logout"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Logout Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to log out?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
