<% first_extraction_job = report&.harvest_job&.all_extraction_jobs&.first || report&.harvest_job&.extraction_job || (job.extraction_job if job.respond_to?(:extraction_job)) %>
<% extraction_job_id = first_extraction_job&.id || job.extraction_job_id %>

<tr>
  <% if show_pipeline_col %>
    <td><%= link_to job.pipeline.name, job.pipeline if row_index.zero? %></td>
  <% end %>
  <td><%= job.destination.name if row_index.zero? %></td>
  <td><%= job_launched_by_label(job) if row_index.zero? %></td>
  <td>
    <% if extraction_job_id.blank? %>
      <%= harvest_definition.name %>
    <% else %>
      <% name = report&.harvest_job&.name || harvest_definition.name %>
      <%= link_to name, pipeline_pipeline_job_path(job.pipeline.id, job.id) %>
    <% end %>
  </td>
  <td class="d-inline-flex align-items-center gap-1">
    <%= job_status_badge(report, job) %>
    <%# Add the link to errors here %>
    <%# link_to '3', '/', class: 'badge text-bg-danger text-decoration-none' %>
  </td>
  <td><%= job_started_at_label(report, job) %></td>
  <td class="text-end"><%= job_duration(report, format: :short) %></td>
  <td class="text-end">
    <% if extraction_job_id.present? %>
      <%= link_to number_to_delimited(report&.pages_extracted) || '',
                  pipeline_harvest_definition_extraction_definition_extraction_job_path(
                    job.pipeline.id,
                    harvest_definition.id,
                    harvest_definition.extraction_definition.id,
                    extraction_job_id
                  ) %>
    <% end %>
  </td>
  <td class="text-end"><%= number_to_delimited(report&.records_transformed) %></td>
  <td class="text-end"><%= number_to_delimited(report&.records_loaded) %></td>
  <td class="text-end"><%= number_to_delimited(report&.records_rejected) %></td>
  <td class="text-end"><%= number_to_delimited(report&.records_deleted) %></td>
</tr>
