<div class='float-start'>
  <h3><%= page_entries_info jobs %></h3>
</div>

<div class='float-end'>
  <%= form_with url: jobs_path, method: :get, remote: true, html: { id: 'filters-form', class: 'form-inline' } do %>
    <div class="form-group me-2">
      <%= label_tag :destination, 'Destination', class: 'form-label me-1' %>
      <%= select_tag :destination, options_for_select(Job.distinct.pluck(:destination).compact.prepend('All'), params[:destination]), class: 'form-select', onchange: 'this.form.requestSubmit()' %>
    </div>

    <div class="form-group me-2">
      <%= label_tag :status, 'Status', class: 'form-label me-1' %>
      <%= select_tag :status, options_for_select(Job.distinct.pluck(:status).compact.prepend('All'), params[:status]), class: 'form-select', onchange: 'this.form.requestSubmit()' %>
    </div>

    <div class="form-group me-2">
      <%= label_tag :run_by, 'Last Run By', class: 'form-label me-1' %>
      <%= select_tag :run_by, options_for_select(Job.distinct.pluck(:run_by).compact.prepend('All'), params[:run_by]), class: 'form-select', onchange: 'this.form.requestSubmit()' %>
    </div>
  <% end %>
</div>

<div class='clearfix'></div>

<%= render partial: 'table', locals: { jobs: jobs, show_pipeline_col: show_pipeline_col, show_destination_col: show_destination_col } %>