<div class='mb-2'>
  <div class='float-start'>
    <h3><%= job_entries_info jobs %></h3>
  </div>

  <%= form_with url: jobs_path, method: :get, remote: true, html: { id: 'filters-form', class: 'row mb-3 float-end' } do %>
    <% submit = 'this.form.requestSubmit()' %>
    <% klass = 'form-select' %>
    <%= hidden_field_tag :pipeline_id, params[:pipeline_id] %>

    <div class="col-auto pe-0">
      <%= label_tag :run_by, 'Last Run By:', class: 'col-form-label me-1' %>
    </div>
    <div class="col-auto">
      <%= select_tag :run_by, options_for_select(user_opts, params[:run_by]), class: klass, onchange: submit %>
    </div>

    <div class="col-auto pe-0">
      <%= label_tag :status, 'Status:', class: 'col-form-label me-1' %>
    </div>
    <div class="col-auto">
      <%= select_tag :status, options_for_select(status_opts, params[:status]), class: klass, onchange: submit %>
    </div>

    <div class="col-auto pe-0">
      <%= label_tag :destination, 'Destination:', class: 'col-form-label me-1' %>
    </div>

    <div class="col-auto">
      <%= select_tag :destination, options_for_select(dest_opts, params[:destination]), class: klass, onchange: submit %>
    </div>
  <% end %>
</div>

<div class='clearfix'></div>

<% if jobs.present? %>
  <%= render partial: 'pipeline_jobs/table',
             locals: { jobs: jobs, show_pipeline_col: show_pipeline_col } %>
<% end %>
