<tr>
  <% if show_pipeline_col %>
    <td><%= link_to job.pipeline.name, job.pipeline %></td>
  <% end %>
  <td>
    <% if report.present? %>
      <%= report.harvest_job&.name %>
    <% else %>
      <%= HarvestDefinition.find(definition_id).name %>
    <% end %>
  </td>
  <td>
    <span class="<%= job_badge_classes(report) %>">
      <%= job_status_label(report, job) %>
    </span>
  </td>
  <td><%= job_launched_by_label(job) %></td>
  <% if show_destination_col %>
    <td><%= job.destination.name %></td>
  <% end %>
  <td><%= job_started_at_label(report, job) %></td>
  <td><%= job_duration_seconds(report&.duration_seconds) %></td>
  <td><%= report&.pages_extracted %></td>
  <td><%= report&.records_transformed %></td>
  <td><%= report&.records_loaded %></td>
  <td><%= report&.records_rejected %></td>
  <td><%= report&.records_deleted %></td>
</tr>
