<%= content_for(:title) { "Pipeline job #{@pipeline_job.id}" } %>
<% breadcrumb :pipeline_job, @pipeline_job %>

<%= content_for(:header) do %>
  <div class="float-start">
    <h1>Job <%= @pipeline_job.id %></h1>
    <strong>Started <%= @pipeline_job.start_time.to_fs(:verbose) %></strong>
  </div>

  <div class="float-end">
    <% unless @pipeline_job.finished? %>
      <%= button_to 'Cancel pipeline',
                    cancel_pipeline_pipeline_job_path(@pipeline.id, @pipeline_job.id),
                    class: 'btn btn-outline-danger me-1',
                    form_class: 'd-inline' %>
    <% end %>
  </div>

  <div class="clearfix"></div>
<% end %>

<h2>Job details</h2>
<%= render 'jobs_details', pipeline_job: @pipeline_job %>

<% @pipeline_job.harvest_reports.each do |report| %>

  <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
    <h2><%= report.harvest_job.name %></h2>

    <div class="text-end">
      <% job_completion_summary = JobCompletionSummary.find_by(source_id: report.harvest_job.id) %>
      <%= if job_completion_summary
            link_to 'View error details', job_completion_summary_path(job_completion_summary),
                    class: 'btn btn-link p-0 me-2'
          end %>

      <%= link_to 'View extracted data',
                  pipeline_harvest_definition_extraction_definition_extraction_job_path(
                    @pipeline_job.pipeline.id,
                    report.harvest_definition.id,
                    report.harvest_definition.extraction_definition.id,
                    report.harvest_job.extraction_job_id
                  ),
                  class: 'btn btn-outline-primary' %>
    </div>
  </div>

  <%= render 'harvest_reports/report_details', report: report %>
<% end %>
