<%= content_for(:title) { "#{@extraction_definition.name} job" } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <div class="float-start">
    <h1><%= @extraction_job.extraction_definition.name %></h1>
    <strong><%= @extraction_job.updated_at.to_fs(:verbose) %></strong>
  </div>

  <div class="float-end">
    <% if @extraction_job.queued? || @extraction_job.running? %>
      <%= button_to 'Cancel job',
                    cancel_pipeline_harvest_definition_extraction_definition_extraction_job_path(
                      @pipeline,
                      @harvest_definition,
                      @extraction_definition,
                      @extraction_job
                    ),
                    class: 'btn btn-outline-danger me-1',
                    form_class: 'd-inline' %>
    <% end %>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
      <i class="bi bi-trash" aria-hidden="true"></i> Delete results
    </button>
  </div>

  <div class="clearfix"></div>
<% end %>

<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Job Run Settings</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Status</th>
            <th>Run at</th>
            <th>Run by</th>
            <th>Job Priority</th>
            <th>Last Updated</th>
        </tr>
        </thead>
        <tbody>
          <td><%= @extraction_job.extraction_definition.name %></td>
          <td><%= @pipeline_job.destination.name %></td>
          <td><%= @harvest_report.status %></td>
          <% if @harvest_report.harvest_job&.extraction_job.present? && @harvest_report&.extraction_start_time.present? %>
              <td><%= @harvest_report.extraction_start_time.strftime('%H:%M %d/%m/%y') %></td>
          <% else %>
              <td><%= @pipeline_job.start_time.strftime('%H:%M %d/%m/%y') %></td>
          <% end %>

          <td>
            <% if @pipeline_job.schedule.present? %>
              Schedule
            <% elsif @pipeline_job.automation_step.present? %>
              <%= link_to 'Automation', automation_path(@pipeline_job.automation_step.automation) %>
            <% else %>
              <%= @pipeline_job.launched_by&.username %>
            <% end %>
          </td>

          <td>
            <% if @harvest_report.harvest_job.present? %>
              <%= @harvest_report.harvest_job.pipeline_job.job_priority&.presence&.humanize || 'No priority' %>
            <% else %>
              <%= 'No priority' %>
            <% end %>
          </td>

          <td><%= @harvest_report.last_updated&.strftime('%H:%M:%S %d/%m/%y') %></td>
        </tbody>
    </table>
    </div>
  </div>
</div>

<br/><br/>

<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Job Timing Settings</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Load Start Time</th>
            <th>Transformation Start Time</th>
            <th>Extraction Start Time</th>
            <th>Load Updated Time</th>
            <th>Transformation Updated Time</th>
            <th>Extraction Updated Time</th>
        </tr>
        </thead>
        <tbody>
          <td><%= @harvest_report.load_start_time&.strftime('%H:%M:%S %d/%m/%y') %></td>
          <td><%= @harvest_report.transformation_start_time&.strftime('%H:%M:%S %d/%m/%y') %></td>
          <td><%= @harvest_report.extraction_start_time&.strftime('%H:%M:%S %d/%m/%y') %></td>
          <td><%= @harvest_report.load_updated_time&.strftime('%H:%M:%S %d/%m/%y') %></td>
          <td><%= @harvest_report.transformation_updated_time&.strftime('%H:%M:%S %d/%m/%y') %></td>
          <td><%= @harvest_report.extraction_updated_time&.strftime('%H:%M:%S %d/%m/%y') %></td> 
        </tbody>
    </table>
    </div>
  </div>
</div>

<br/><br/>

<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Extraction Settings</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Extraction Details</th>
            <th>Delete Previous Records</th>
            <th>Run Enrichment Concurrently</th>
        </tr>
        </thead>
        <tbody>
          <td>
            <%= link_to pipeline_harvest_definition_extraction_definition_extraction_job_path(
                  @pipeline.id,
                  @harvest_report.harvest_definition.id,
                  @harvest_report.extraction_definition.id,
                  @harvest_report.harvest_job.extraction_job_id
                ), class: 'dropdown-item' do %>
              <i class="bi bi-link-45deg me-2"></i> View Extracted Data
            <% end %>          
          </td>        
          <td><%= @pipeline_job.delete_previous_records %></td>
          <td><%= @pipeline_job.run_enrichment_concurrently %></td>
        </tbody>
    </table>
    </div>
  </div>
</div>

<%= render 'shared/pagination_below_table', items: @documents %>
